<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oah_v1.Properties.Settings.oldv1ConnectionString"
            connectionString="server=localhost;user id=root;password=rajeshwari22;database=oldv1"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>